 .otherappsmenu {
   clear:both;
 }
 .otherappsmenu dt {
   display:none;
 }
 .otherappsmenu dd {
   margin:0;
   padding:0;
   FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
   FONT-SIZE: 1em;
   FONT-WEIGHT:bold;
 }
 .otherappsmenu .button {border-style: none; background:#99CCFF; text-align:center; color:#444; text-decoration:none; font:Verdana, Arial,Helvetica, sans-serif; font-weight:bold; font-size:1em; cursor:pointer; }
 .otherappsmenu a:hover {color:#c00; background:#def;}
 .otherappsmenu a:hover .buttontext {background:#def;}
.otherappsmenu a:visited {color:#444;}
