/* CSS Document */
.menu {
  clear:both;
  margin:0;
  padding:0;
}
.menu dt {
  display:none;
}
.menu dd {
  margin:0;
  padding:0;
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
  FONT-SIZE: 1.25em;
  FONT-WEIGHT:bold;
}
.menu .tabedge {width:5px; float:left; border-bottom:1px solid #000; background:#99CCFF}
.menu .tabtext {float:left; padding:2px 0 2px 0; border-bottom:1px solid #000; border-top:1px solid #000; background:#99CCFF; text-align:center;}
.menu .tabedge_a {width:1px; float:left; border-top:5px solid #fff; background:#000; overflow:hidden;}
.menu .tabedge_b {width:1px; float:left; height:1px; background:#ccc; border-top:2px solid #fff; border-bottom:2px solid #000; overflow:hidden;}
.menu .tabedge_c {width:1px; float:left; height:1px; background:#ccc; border-top:1px solid #fff; border-bottom:1px solid #000; overflow:hidden;}
.menu .tabedge_d {width:2px; float:left; height:1px; background:#000; border-top:1px solid #ccc; overflow:hidden;}
.menu .seltabedge {width:5px; float:left; border-bottom:1px solid #fff; background:#fff; font-size:1em;}
.menu .seltabtext {float:left; padding:2px 0 2px 0; border-bottom:1px solid #fff; border-top:1px solid #000; background:#fff; color:#f00; font-size:1em; text-align:center;
            font:Verdana, Arial,Helvetica, sans-serif; font-weight:bold; font-size:1em;}
.menu .atab {color:#444; text-decoration:none; font:Verdana, Arial,Helvetica, sans-serif; font-weight:bold; font-size:1em; cursor:pointer; background:#c88;}
.menu a:hover {color:#c00; background:#def;}
.menu a:hover .tabedge, a:hover .tabtext {background:#def;}
.menu a:hover .tabtext, a:hover .tabedge {background:#def;}
.menu a:visited {color:#444;}



