/* 
Your Grants StyleSheet
*/



/* 
Default Text settings.  Since the site is layed out in tables, we can apply the general style 
at the table and td level.  This doesn't work for form elements, so they are listed separately.

However--if this style doesn't automatically take to some page elements,
they can be applied manually using the class DefaultText.
*/

table,td,input,select,textarea,ul,li
{
 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 8pt;
	COLOR: #000000
}


.DefaultText
{
 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 8pt;
	COLOR: #000000
}
.DefaultTextBold
{
 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 8pt;
	font-weight: bold; 
	COLOR: #000000
}
.DefaultTextBoldItalics
{
 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 8pt;
	font-weight: bold; 
	font-style: italic;
	COLOR: #000000
}
.ErrorTextBoldItalics
{
 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 8pt;
	font-weight: bold; 
	font-style: italic;
	COLOR: #000000
}






/* 
Default Links.  Note that hover doesn't work in older Netscape browsers.
*/

a:link
{
	color: #3F7EFF;
	FONT-SIZE: 8pt;
}

a:visited
{
	color: #CC3300;
	FONT-SIZE: 8pt;
}

a:active 
{
	color: #7DA7D0;
	FONT-SIZE: 8pt;
}

a:hover 
{
	color: #7DA7D0;
	FONT-SIZE: 8pt;
}





/* 
Titles and other text formatting:

	1. TitlePrimary--style for Primary titles
	2. TitleSecondary--style for secondary titles
*/

.TitlePrimary 
{ 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12pt; 
	font-weight: bold; 
	color: #3F7EFF;
        background-color: white;
}

.TitleSecondary
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #999999;
}

.BarFormat
{
	COLOR: #CC3300;
}



/* 
List Cell Styles.  These are the styles applied to "List" Tables such as 
the Search Results (also known as the "Hit List"):

	1. listCellHead--styles used for the Headers of List Tables.
	2. listCell--styles used for the Data Cells (i.e. records returned) of List Tables.
	3. anchorListCellHead--styles used for the anchors WITHIN THE HEADERS of List Tables.
*/
.ta
{
        overflow-y:auto;
}

.listCellHead 
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 8pt;
	BACKGROUND-COLOR: #CCCCCC; 
	BORDER-BOTTOM: black 1px outset; 
	BORDER-LEFT: white 1px outset; 
	BORDER-RIGHT: black 1px outset; 
	BORDER-TOP: white 1px outset
}

.listCell 
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 8pt;
        TEXT-ALIGN: left;
        BACKGROUND-COLOR: #FFFFFF; 
	BORDER-BOTTOM: #999999 1px solid;  
	BORDER-LEFT: #999999 1px solid;
}
.listCellError 
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 8pt;
	COLOR: #FF0000;
	BACKGROUND-COLOR: #FFFFFF; 
	BORDER-BOTTOM: #999999 1px solid;  
	BORDER-LEFT: #999999 1px solid;
}
.listCell2
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 8pt;
	BACKGROUND-COLOR: #FFFFFF; 
	BORDER-BOTTOM: #999999 1px solid;
}
.listCell3
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 8pt;
	BACKGROUND-COLOR: #FFFFFF; 
	BORDER-BOTTOM: #999999 1px solid;  
	BORDER-LEFT: #999999 1px solid;
	BORDER-RIGHT: #999999 1px solid;
}
.listCell4 
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 8pt;
	BACKGROUND-COLOR: #FFFFFF; 
	BORDER-BOTTOM: #999999 1px solid;  
	BORDER-LEFT: #999999 1px solid;
	BORDER-TOP: #999999 1px solid;
}
.listCell5 
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 8pt;
	BACKGROUND-COLOR: #FFFFFF; 
	BORDER-BOTTOM: #999999 1px solid;  
	BORDER-LEFT: #999999 1px solid;
	BORDER-TOP: #999999 1px solid;
	BORDER-RIGHT: #999999 1px solid;
}
.listCell5Error 
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 8pt;
	COLOR: #FF0000;
	BACKGROUND-COLOR: #FFFFFF; 
	BORDER-BOTTOM: #999999 1px solid;  
	BORDER-LEFT: #999999 1px solid;
	BORDER-TOP: #999999 1px solid;
	BORDER-RIGHT: #999999 1px solid;
}
a.anchorListCellHead:link
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #FFFFFF; 
	font-weight: bold;
	text-decoration: none
}



a.anchorListCellHead:link
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
	color: #000000
}

a.anchorListCellHead:visited
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
	color: #000000
}

a.anchorListCellHead:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt; 
	font-weight: bold;
	text-decoration: none;
	color: #000000
}

a.context 
{ 
margin: 0px; 
padding: 0px 10px 3px 20px; 
FONT-WEIGHT: normal; 
FONT-SIZE: 90%; 
COLOR: black; 
text-decoration:none; 
border:1px solid black; 
} 

/* button styles ---------------------------------------------------------------------------------- */

a.button:link {background-color: #3f7eff;
	border: 3px double white;
	color: white;
	font-weight: bold;
	padding: 1px;
	text-decoration: none;}
a.button:visited {background-color: #3f7eff;
	border: 3px double white;
	color: white;
	font-weight: bold;
	padding: 1px;
	text-decoration: none;}
a.button:hover {background-color: white;
	border: 3px double #3f7eff;
	color: #3f7eff;
	font-weight: bold;
	padding: 1px;
	text-decoration: none;}			

.button2a {background-color: #3f7eff;
	border: 3px double white;
	color: white;
	font-weight: bold;
	text-align: center;}
.button2a:hover {background-color: white;
	border: 3px double #3f7eff;
	color: #3f7eff;
	font-weight: bold;
	text-align: center;}	
.button3a {background-color: white;
	border: 1px  white;
        margin: 0px 0px 0px 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
        text-align: left;
        font-size: 8pt;}	
.button3a:hover {background-color: white;
	border: 1px  white;
        margin: 0px 0px 0px 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
        text-align: left;
        font-size: 8pt;	
	color: black;}
.button3b {background-color: white;
	border: 1px  white;
        margin: 0px 0px 0px 0px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	text-align: left; 	
	color: #FF0000;}
.button3b:hover {background-color: white;
	border: 1px  white;
        margin: 0px 0px 0px 0px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	text-align: left; 	
	color: #FF0000;}
.button4a {background-color: #3f7eff;
	border: 3px double white;
	color: white;
	font-weight: bold;
	text-align: center;}
.button4a:hover {background-color: white;
	border: 3px double #3f7eff;
	color: #3f7eff;
	font-weight: bold;
	text-align: center;}	
.button5a {background-color: white;
	border: 1px  white;
        margin: 0px 0px 0px 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
        text-align: left;
	text-decoration: underline;
        font-size: 8pt;}	
.button5a:hover {background-color: white;
	border: 1px  white;
        margin: 0px 0px 0px 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
        text-align: left;
        font-size: 8pt;	
	color: black;}
.button5b {background-color: white;
	border: 1px  white;
        margin: 0px 0px 0px 0px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	text-align: left; 	
	text-decoration: underline;
	color: #FF0000;}
.button5b:hover {background-color: white;
	border: 1px  white;
        margin: 0px 0px 0px 0px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	text-align: left; 	
	color: #FF0000;}
 .otherappsmenu {
   clear:both;
 }
 .otherappsmenu dt {
   display:none;
 }
 .otherappsmenu dd {
   margin:0;
   padding:0;
   FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
   FONT-SIZE: 1em;
   FONT-WEIGHT:bold;
 }
 .otherappsmenu .OtherAppButton {border-style: none; background:#99CCFF; text-align:center; color:#444; text-decoration:none; font:Verdana, Arial,Helvetica, sans-serif; font-weight:bold; font-size:1em; cursor:pointer; }
 .otherappsmenu a:hover {color:#c00; background:#def;}
 .otherappsmenu a:hover .buttontext {background:#def;}
.otherappsmenu a:visited {color:#444;}
	
.menu {
  clear:both;
  margin:0;
  padding:0;
}
/* CSS Document */
.menu {
  clear:both;
  margin:0;
  padding:0;
}
.menu dl {
   white-space : nowrap;
}
.menu dt {
  display:none;
}
.menu dd {
  margin:0;
  padding:0;
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
  FONT-SIZE: 1.25em;
  FONT-WEIGHT:bold;
}
.menu .tabedge {width:5px; float:left; border-bottom:1px solid #000; background:#99CCFF}
.menu .tabtext {float:left; padding:2px 0 2px 0; border-bottom:1px solid #000; border-top:1px solid #000; background:#99CCFF; text-align:center;}
.menu .tabedge_a {width:1px; float:left; border-top:5px solid #fff; background:#000; overflow:hidden;}
.menu .tabedge_b {width:1px; float:left; height:1px; background:#ccc; border-top:2px solid #fff; border-bottom:2px solid #000; overflow:hidden;}
.menu .tabedge_c {width:1px; float:left; height:1px; background:#ccc; border-top:1px solid #fff; border-bottom:1px solid #000; overflow:hidden;}
.menu .tabedge_d {width:2px; float:left; height:1px; background:#000; border-top:1px solid #ccc; overflow:hidden;}
.menu .seltabedge {width:5px; float:left; border-bottom:1px solid #fff; background:#fff; font-size:1em;}
.menu .seltabtext {float:left; padding:2px 0 2px 0; border-bottom:1px solid #fff; border-top:1px solid #000; background:#fff; color:#f00; font-size:1em; text-align:center;
            font:Verdana, Arial,Helvetica, sans-serif; font-weight:bold; font-size:1em;}
.menu .atab {color:#444; text-decoration:none; font:Verdana, Arial,Helvetica, sans-serif; font-weight:bold; font-size:1em; cursor:pointer; background:#c88;}
.menu a:hover {color:#c00; background:#def;}
.menu a:hover .tabedge, a:hover .tabtext {background:#def;}
.menu a:hover .tabtext, a:hover
		
	        
