body, div, p, li, th, td, input, select {font-family: verdana, arial, sans-serif;
	font-size: x-small;}
td {vertical-align: top;}
.align1 {text-align: right;}
.align2 {text-align: center;}
h1 {color: #3f7eff;
	font-size: 1.2em;}
a:link {color: #3f7eff;}
a:visited {color: #c30;}
a:hover {color: #9cf;
	text-decoration: none;}

/* HEADER */
#header table {border-bottom: 2px solid #3f7eff;
	width: 100%}
#logo {padding-bottom: 5px;}
#pageName {text-align: right; 
	vertical-align: bottom;
	color: #c30;
	font: bold 2em arial narrow, arial, sans-serif;
	padding: 0px;
	line-height: .75em;
	text-transform: uppercase;
	letter-spacing: 2px;}

/* GLOBAL NAVIGATION */	
#globalNav table {background-color: #9cf;
	border-bottom: 2px solid #9cf;
	margin-bottom: 30px;}
#globalNav td {padding: 3px;
	border-right: 2px solid white;
	border-bottom: 1px solid white;}
#globalNav a:link, #globalNav a:visited {color: black;
	font-weight: bold;
	text-decoration: none;}
#globalNav a:hover {color: white;}
#globalNav #lastItem {border-right: 0px;}

/* SUBHEADERS */
.subheader {border-bottom: 1px solid #ccc;
	color: #36f;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 10px;
	margin-left: 100px;
	width: 800px;}
.show {}
.hide {display: none;}

/* QUERY CRITERIA */
#criteria {margin-left: 100px;
	width: 800px;}
#query table {background-color: #9cf;
	width: 100%;}
#query td {padding: 7px;
	width: 50%;}
#query td td {padding: 3px;
	vertical-align: bottom;
	width: auto;}
#query strong {color: white;}	
#query label {font-weight: bold;}

/* BUTTONS */
.button {padding: 10px;
	padding-right: 0px;
	text-align: right;}
.button a:link, .button a:visited {background-color: #3f7eff;
	border: 3px double white;
	color: white;
	font-weight: bold;
	padding: 1px;
	text-decoration: none;}
.button a:hover {background-color: white;
	border: 3px double #3f7eff;
	color: #3f7eff;
	font-weight: bold;
	padding: 1px;
	text-decoration: none;}

/* DATA (QUERY RESULTS) TABLES */
.controls table {margin-bottom: 15px;
	margin-left: 100px;
	width: 800px;}
.controls td {padding: 3px;
	padding-left: 0px;}
.label {font-weight: bold;}
.data table {border: 1px solid gray;
	width: 100%;}
.data th {padding: 3px;
	font-weight: bold;
	background: #ccc;
	border: outset;}
.data th a:link, .data th a:visited {color: black;}
.data th a:hover {text-decoration: none;}	
.data td {padding: 3px;
	border: 1px solid gray;}	
.fail {background-color: yellow;}

/* FOOTER */
#footer {border-top: 2px solid #3f7eff;
	margin-top: 30px;
	text-align: right;}